.modelzoo {
  height: 100%;
}
.modelzoo > div:last-child {
  padding: 1.25rem;
}
.modelzooShow .images {
  margin-bottom: 0.75rem;
}
.modelzooShow .images img {
  max-width: 40rem;
}
.asset {
  display: inline-block;
  max-width: 35rem;
  background: #f8f8f8;
  padding: 0.75rem;
  margin: 0.75rem 0 1.25rem 0;
}
.license {
  display: inline-block;
  max-width: 35rem;
  background: #eeeeee;
  padding: 0.75rem;
  margin: 0.75rem 0 1.25rem 0;
}